body
{
  font-size: 16px;
}

.headbar 
{
  position: relative;
  width: 100%;
  height: 60px;
  background: linear-gradient(-20deg, #9900ff 0%, #ff0099 100%);
}

.sitetitle 
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Playwrite HU',sans-serif;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.headright 
{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: white;
}

.center
{
  text-align:center;
}

.post-container 
{ 
  width: 80%; 
  margin: 30px auto;
}

.search-bar { text-align: center; margin-top: 30px; }

.submit-btn 
{
  background: linear-gradient(135deg, #ff0099, #9900ff);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.submit-btn:hover 
{
  background: linear-gradient(135deg, #9900ff, #ff0099);
  transform: scale(1.05);
}

.post 
{ 
  border: 1px solid #ccc; 
  border-left: none; 
  border-right: none;
  margin-bottom: 10px; 
  background: white; 
  text-align: center; 
  margin: 0 auto; 
}

.post-header 
{
  display: flex;
  align-items: center;
  justify-content: flex-start; 
}

input[type="text"], textarea 
{
  width: 80%;
  max-width: 500px;
}

input[type="password"], textarea 
{
  width: 80%;
  max-width: 500px;
}

img 
{
  max-width: 80%;
  height: auto;
}
    
@media screen and (max-width: 600px) 
{
  body 
  {
    font-size: 14px;
  }
  .post 
  {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-left: none;
    border-right: none;
    background: white;
    text-align: center;
  }
  .post-container 
  {
    width: 100%;
    margin:  0 auto; 
  }
  
  input[type="text"], textarea 
  {
    width: 80%;
    font-size: 14px;
  }
  
  input[type="password"], textarea 
  {
  width: 80%;
  max-width: 500px;
  }
  
  .headbar 
  {
    position: relative;
    width: 100%;
    height: 60px;
    background: linear-gradient(-20deg, #9900ff 0%, #ff0099 100%);
  }

  .sitetitle 
  {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Playwrite HU',sans-serif;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }

  .headright 
  {
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 9px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width:125px
  }

}